@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    background: white;
    padding: 15px 25px;
    border-radius: 8px;
    width: 90%;          /* Esto hace que en celular ocupe casi toda la pantalla */
    max-width: 400px;    /* Esto evita que en PC se vea gigante */
    box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
    margin: 20px auto;   /* Centra el cuadrito */
}

/* Header & Nav */
.hero {
    width: 100%;
    height: 100vh;
    min-height: 700px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #370a8ae0 0%, #2a087a 100%);
    clip-path: polygon(100% 0, 100% 88%, 50% 100%, 0 88%, 0 0);
    z-index: -1;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__titulo {
    font-size: 50px;
}

.nav__link {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav__links {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

/* Efecto para el botón de Login específicamente */
.nav__link--menu li a[href="login.php"]:hover {
    background-color: #00b8b8 !important; /* Un cian un poco más oscuro */
    transform: scale(1.05);
    transition: 0.3s;
}

/* Textos Hero */
.hero__title {
    font-size: 3.5rem;
    margin-bottom: 70px;
}

.hero__paragraph {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 30px;
}

/* Botones */
.cta {
    display: inline-block;
    background: #008b8b;
    color: white;
    text-decoration: none;
    padding: 20px 45px;
    border-radius: 50px;
    font-weight: 600;
    transition: 0.3s;
}

.cta:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

/* Soluciones */
.services { padding: 100px 5%; text-align: center; }
.services__table { display: grid; grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); gap: 30px; margin-top: 50px; }
.services__item { padding: 40px; background: #f9f9f9; border-radius: 20px; transition: 0.3s; }
.services__item:hover { transform: scale(1.05); box-shadow: 0 10px 30px rgba(0,0,0,0.1); background: #fff; }

/* Responsive */
@media (max-width: 900px) {
    .image-container { display: none; }
    .hero__container { text-align: center; left: 0; margin: 0 auto; max-width: 90%; }
}