/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f5f5f5;
}


header {
    position: absolute;
    top: -40px;
    left: 20px;
    font-size: 31px;
    color:#f8f8f8;
    z-index: 10;
}

nav {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
    content: "";
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #370a8ae0 0% , #2a087a 100%),url();
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 9%, 0 9%);
    transition: background-color 0.3s ease;
}


.menu-items {
    margin-left: 20%;
    padding: 10px 15px;
    display: grid
    ;justify-content: center;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
    border-radius: 10px;
    background-color: blueviolet;
    position: absolute;
    left: 15%;
    top: 6.8px;
    list-style: none;
    cursor: pointer;
  }

.menu-items li {
    margin: 0 10px;
    cursor: pointer;
}

.menu-items a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 400; /* Ajuste del grosor de la letra */
    padding: 10px 20px; /* Uniformidad en el tamaño del padding */
    border-radius: 10px;
    transition: background-color 0.3s ease;
}
.menu-items a:hover {
    background-color: #582d82; /* Color más oscuro al hacer hover */
}
main {
    margin-top: 90px;
    text-align: center;
}

table {
    text-align: center;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}