/* Normalize basic styles across browsers */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: left;
    align-items: center;
  }
  
  /* Main container */
  .container {
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    min-height: 100vh;
  }
  
  /* Login form container */
  .form-container {
    width: 400px;
    height: 150px; /* Increased height for input fields */
    display: flex;
    justify-content: right;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    position:absolute; /* Consider relative positioning */
    top: 38%;
    left: 16%;
    
  }
  
  .nav__titulo {
    position: absolute;
    top: 1%;
    font-size: 36px;
    color: rgb(50, 33, 199);
  }
  
  /* Login form title */
  .form-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: rgb(50, 33, 199);
  }
  
  /* Labels and Inputs */
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="email"], input[type="password"] {
    width: 100%;
    padding: 15px;
    border: 1px solid #370a8ae0;
    border-radius: 8px;
    margin-bottom: 15px;
  }
  
  /* Checkbox and Label */
  .remember-forgot {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    
  }
  
  .remember-forgot label {
    font-weight: lighter;
    a {
      list-style: none; /* Remove list style */
    }
  }
  
  /* Forgot password link */
  a {
    color: #000000;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Login button */
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: darkcyan;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  /* Sign up link */
  p {
    text-align: center;
    margin-top: 10px;
    a {
      list-style: none; /* Remove list style */
    
    }
    ul {
      list-style: none;
    }
    
  }
  
  /* Image container */
  .imagen {
    /* Adjust clip-path or image properties as needed */
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .imagen-login{
    position: absolute;
    top:9%;
    left: 9%;
    width: 50%;
    height: 50%;
    z-index: -1;
  }
  