.container {
    background: white;
    padding: 10px 25px; /* Reducido de 20 a 10 */
    border-radius: 8px;
    width: 400px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
}

h1 {
    font-size: 18px;    /* Reducido de 22 a 18 */
    margin-bottom: 5px; /* Reducido de 10 a 5 */
    text-align: center;
}

label { 
    display: block; 
    margin-top: 2px;    /* Reducido de 6 a 2 */
    font-weight: bold;
    font-size: 12px;    /* Reducido de 13 a 12 */
}

input { 
    width: 100%; 
    padding: 4px;       /* Reducido de 6 a 4 */
    margin-top: 1px;    
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
}

button { 
    width: 100%; 
    padding: 6px;       /* Reducido de 8 a 6 */
    margin-top: 8px;    /* Reducido de 15 a 8 */
    background: #008080; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer;
    font-weight: bold;
}